{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class="col-md-3 col-md-offset-4">

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}

      <form class="form-auth" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-auth-heading">Вход</h2>
        <label for="id_username" class="sr-only">Имя</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Имя" required="" autofocus="">
        <label for="id_password" class="sr-only">Пароль</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Пароль" required="">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <input type="hidden" name="next" value="" />
      </form>
    </div>

</div>

{% endblock content %}
