{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class="col-md-3 col-md-offset-4">

    {% if form.errors %}
    <!--{{ form.errors }}-->
    {% endif %}    

      <form class="form-auth" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <h2 class="form-auth-heading">Регистрация</h2>
        <label for="id_username" class="sr-only">Имя</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Имя" required="" autofocus="">
        <label for="id_password1" class="sr-only">Пароль</label>
        <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Пароль" required="">
        <label for="id_password2" class="sr-only">Пароль</label>    
        <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Подтвердить пароль" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
        <input type="hidden" name="next" value="" />
      </form>
    </div>

</div>

{% endblock content %}
