{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block static %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock static %}

{% block content %}
       
      <div class="row">
        <div class="col-md-5">
        <p>
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">        
            Проверьте данные!
            <ul>
            <li>Поле "Адрес" является обязательным.</li>
            <li>Координаты объекта необходимо отметить на карте.</li>
            </ul>
        </div>
        {% endif %}    

        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}                
            <div class="form-group">
                <label for="id_address" class="col-sm-2 control-label">Адрес</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="id_address" placeholder="Адрес" value="{{ form.address.value }}" name="address">
                </div>
            </div>
            
            <textarea id="id_geom" class="hide" name="geom">{{ form.geom.value }}</textarea>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-default" type="submit">Сохранить</button>
                  <a href="{% url 'carwashes_list' %}" class="btn btn-default">Отмена</a>
                </div>
            </div>
                        
            <input type="hidden" name="next" value="{% url 'carwashes_list' %}" />
        </form>
        </p>
        </div> 

        <div class="col-md-7">
            
            
              <p>
                {% leaflet_map "main_map" callback="main_map_init" %}

                <script>  

                    function main_map_init(map, options) {
                        var geoJsonPoint = $('#id_geom').val(); 
                        //console.log(geoJsonPoint);
                        if (geoJsonPoint == 'None')
                        {
                            // Minsk default                            
                            geoJsonPoint = '{"type":"Point","coordinates":[27.559075355529785,53.90054554327604]}';
                            //console.log(geoJsonPoint);
                        }                     
                        //console.log(geoJsonPoint);
                        var collection = JSON.parse(geoJsonPoint);
                        
                        map.panTo( {
                            lat: collection["coordinates"][1], 
                            lng: collection["coordinates"][0]
                        });
                        //coordsToLatLng(collection)                        

                        var marker;
                        L.geoJson(collection, {
                            pointToLayer: function (feature, latlng) {
                                marker = L.marker(latlng, {draggable: true});
                                return marker;
                            }
                        }).addTo(map);                      
                    
                        function onMapClick(e) {                                                
                            //$('#coordinates').val(lng + ',' + lat)          
                            
                            marker.setLatLng(e.latlng);
                            marker.update();
                            //console.log(marker.getLatLng());
                            //console.log(marker.toGeoJSON().geometry);
                            $('#id_geom').val(JSON.stringify(marker.toGeoJSON().geometry));
                        }

                        // call the onMapClick function when user click on map
                        map.on('click', onMapClick);
                    }

                                        
                </script>
              </p>          
          
        </div>     
      </div>
{% endblock content %}
