{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block static %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock static %}

{% block content %}
          <!-- Example row of columns -->        
      <div class="row">
        <div class="col-md-5">

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}

    <form class="form-auth" method="post" action="">
        {% csrf_token %}        
        <h2 class="form-auth-heading">Мойка</h2>
        <label for="id_address" for="id_address">Адрес:</label>
        <input id="id_address" placeholder="Адрес" class="form-control" maxlength="255" name="address" type="text" value="{{ form.address.value }}">
        <textarea id="id_geom" class="hide" name="geom">{{ form.geom.value }}</textarea>
        <button class="btn btn-default" type="submit">Сохранить</button>
        <a href="{% url 'carwashes_list' %}" class="btn btn-default">Отмена</a>
        <input type="hidden" name="next" value="{% url 'carwashes_list' %}" />
    </form>
    
        </div> 
        <div class="col-md-7">
            <h2></h2>
            
              <p>
                {% leaflet_map "main_map" callback="main_map_init" %}

                <script>  

                    function main_map_init(map, options) {
                        var geoJsonPoint = $('#id_geom').val(); 
                        
                        if (!geoJsonPoint)
                        {
                            // Minsk default                            
                            geoJsonPoint = '{"type":"Point","coordinates":[27.559075355529785,53.90054554327604]}';
                        }                     

                        var collection = JSON.parse(geoJsonPoint);
                        
                        map.panTo( {
                            lat: collection["coordinates"][1], 
                            lng: collection["coordinates"][0]
                        });
                        //coordsToLatLng(collection)                        

                        var marker;
                        L.geoJson(collection, {
                            pointToLayer: function (feature, latlng) {
                                marker = L.marker(latlng, {draggable: true});
                                return marker;
                            }
                        }).addTo(map);                      
                    
                        function onMapClick(e) {                                                
                            //$('#coordinates').val(lng + ',' + lat)          
                            
                            marker.setLatLng(e.latlng);
                            marker.update();
                            //console.log(marker.getLatLng());
                            //console.log(marker.toGeoJSON().geometry);
                            $('#id_geom').val(JSON.stringify(marker.toGeoJSON().geometry));
                        }

                        // call the onMapClick function when user click on map
                        map.on('click', onMapClick);
                    }

                                        
                </script>
              </p>          
          
        </div>     
      </div>
{% endblock content %}
