{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class="col-md-12">
      
        <form class="form" method="post" action="">
        {% csrf_token %}        
        <h2>Удалить {{ object }}?</h2>
        <button class="btn btn-default" type="submit">Удалить</button>
        <a href="{% url 'carwashes_list' %}" class="btn btn-default">Отмена</a>
        <!--<input type="hidden" name="next" value="{% url 'carwashes_list' %}" />-->
    </form>              
    </div> 
    
</div>

{% endblock content %}
