{% extends "base.html" %}
{% block content %}

<h2>Мои мойки</h2><a href="{% url 'carwashes_new' %}"  class="btn btn-default">добавить</a>

{% for carwash in carwashes %}
<div class="row">
    <div class="col-md-8">
      {{ forloop.counter }} {{ carwash.address }} {{ carwash.geom }} 
    </div>
    <div class="col-md-4">
      <a href="{% url 'carwashes_del' pk=carwash.id %}" class="btn btn-default">удалить</a>
      <a href="{% url 'carwashes_edit' pk=carwash.id %}"  class="btn btn-default">изменить</a>
    </div>
</div>
{% endfor %}


{% endblock content %}
