{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block head_title %}
    Washmeby - каталог автомоек
{% endblock head_title %}
{% block static %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock static %}

{% block content %}
          <!-- Example row of columns -->        
      <div class="row">
        <div class="col-md-5">
          <h2>Где помыться?</h2>
              <p>
              <table class="table">
                 <tbody>
                    {% for carwash in carwashes %}
                    <tr> 
                        <th scope="row">{{ forloop.counter }}</th> 
                        <td>{{ carwash.address }}</td> 
                        <!--<td>{{ carwash.geom }}}</td>-->
                    </tr>     
                    {% endfor %}     
                </tbody> 
              </table>
              </p>                      
        </div> 
        <div class="col-md-7">
            <h2></h2>
            
              <p>
                {% leaflet_map "main_map" callback="main_map_init" %}

                <script>
                    function onEachFeature(feature, layer) {
                        if (feature.properties && feature.properties.popupContent) {
                            layer.bindPopup(feature.properties.popupContent);
                        }
                    }

                    function main_map_init(map, options) {
                        var collection = {{ carwashes|geojsonfeature:"popupContent"|safe }};
                        
                        console.log(collection);

                        L.geoJson(collection, {
                            pointToLayer: function (feature, latlng) {
                                return L.marker(latlng, {color: 'red'});
                            },
                            onEachFeature: onEachFeature
                        }).addTo(map);                      
                    }
                </script>
              </p>          
          
        </div>     
      </div>
{% endblock content %}